<app-toolbar class="fixed-top" style="z-index: 1000"></app-toolbar>
<div *ngIf="event" class="pt-5 mt-3 content h-100 bg-transparent">
  <div class="row w-100 m-0 ">
    <img
      [src]="event.coverImage && event.coverImage.length>0? event.coverImage: 'assets/views/event_image_placeholder.png'"
      class="col-12 p-0 header-image"
      style="object-fit: cover; border-radius: 10px; margin-top: 25px; z-index: 100;
        border: rgba(255,183,0,0.2) 1px solid">
  </div>
  <div class="row  w-100 mt-lg-5 mt-md-4 mt-sm-3 mt-1">
    <div class="col-12 d-block d-md-none my-4 px-lg-3">
      <p class="mb-1">
        <span *ngIf="event.tickets.length>0">
          Tickets Br. {{getMinPrice()}}
          <span *ngIf="event.tickets.length>1">- Br. {{getMaxPrice()}}</span></span>
        <span *ngIf="event.tickets.length===0">Tickets arn'tt posted yet. Check back later</span>
      </p>
      <button mat-raised-button color="primary" class="w-100 big-action-button" (click)="openTicketDialog()">Get
        Tickets
      </button>
    </div>
    <div class="col-12 col-lg-8 col-md-8 px-lg-3">
      <h4 class="mb-3">{{event.name}}</h4>
      <div class="my-3">
        <p class="icon-container mt-4 ev_date_loc">
          <mat-icon inline class="icon-md">room</mat-icon>
          {{event.address.address1}}
        </p>
        <p class="icon-container ev_date_loc">
          <mat-icon inline class="icon-md">calendar_today</mat-icon>
          {{event.startDate | date:'EEEE, MMMM d, h:mm a'}}</p>
      </div>
      <div [froalaView]="event.description"></div>
      <div class="mt-4 ev_desc">
        It's been too long but we're back! LUNA FLIX debuts at this new venue screening our most popular films and who
        doesn't love QUEEN! Enjoy the iconic rock movie classic with friends and family.
        <br>
        <br>

        Film commences after sunset - approx 8.30pm. Please bring own picnic (no food on sale) and seating. Book early,
        this is sure to sell-out. ONLINE TICKETS SALES CLOSE August 29 at 9pm.
        <br>
        <br>

        PLEASE NOTE:
        <br>
        <br>

        Tickets are NON-refundable – Except in the rare case of event cancellation. Should that occur, email
        notification will be sent on the morning of the event though booking fees are not refundable.
        <br>
        <br>

        COVID NOTICE: If any ticket holder of your group, becomes Covid positive for the show, PLEASE DO NOT LET THEM
        ATTEND & contact us immediately at lunaflix@btinternet.com - NO LATER than 24hrs prior to event please. In this
        circumstance only we will allow a refund of their ticket.
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-4 d-none d-md-block px-lg-3">
      <p class="mb-1">
         <span *ngIf="event.tickets.length>0">
                  Tickets Br. {{getMinPrice()}}
           <span *ngIf="event.tickets.length>1">- Br. {{getMaxPrice()}}</span></span>
        <span *ngIf="event.tickets.length===0"
              style="font-size: 0.8em">Tickets aren't posted yet. Check back later</span>
      </p>
      <button mat-raised-button color="primary" [disabled]="event.tickets.length===0"
              [class.disable-button]="event.tickets.length===0" class="w-100 big-action-button"
              (click)="openTicketDialog()">Get Tickets
      </button>
    </div>
  </div>
</div>
