<app-toolbar class="fixed-top" style="z-index: 1000"></app-toolbar>
<div *ngIf="event" class="pt-5 mt-3 container content h-100 bg-transparent">
  <div class="row w-100 m-0 ">
    <div class="col-7 m-0">
      <img
        [src]="event.coverImage && event.coverImage.length>0? event.coverImage: 'assets/views/event_image_placeholder.png'"
        class=" py-0 px-1 header-image"
        style="width: 100%;object-fit: cover; border-radius: 6px; margin-top: 25px; z-index: 100;">
    </div>
    <div class="col-5 p-0 d-flex my-4 px-3">
      <div>
        <h2 class="mb-3">{{event.name}}</h2>
        <div class="my-3">
          <p class="icon-container mt-4 ev_date_loc">
            <mat-icon inline class="icon-md">room</mat-icon>
            {{event.address.address1}}
          </p>
          <p class="icon-container ev_date_loc">
            <mat-icon inline class="icon-md">calendar_today</mat-icon>
            {{event.startDate | date:'EEEE, MMMM d, h:mm a'}}</p>
        </div>
      </div>
    </div>
    <div class="row  w-100 mt-lg-5 mt-md-4 mt-sm-3 mt-1">
      <div class="col-12 d-block d-md-none my-4 px-lg-3">
        <p class="mb-1">
        <span *ngIf="event.tickets.length>0">
          Tickets: {{getMinPrice()}}
          <span *ngIf="event.tickets.length>1 && getMaxPrice()">{{getMaxPrice()}}</span></span>
          <span *ngIf="event.tickets.length===0">Tickets aren't posted yet. Check back later</span>
        </p>
        <button mat-raised-button color="primary" class="w-100 big-action-button" (click)="openTicketDialog()">Get
          Tickets
        </button>
      </div>
      <div class="col-12 col-lg-8 col-md-8 px-lg-3">

        <div [froalaView]="event.description"></div>
      </div>
      <div class="col-12 col-lg-4 col-md-4 d-none d-md-block px-lg-3">
        <p class="mb-1">
         <span *ngIf="event.tickets.length>0">
                  Tickets {{getMinPrice()}}
           <span *ngIf="event.tickets.length>1">{{getMaxPrice()}}</span></span>
          <span *ngIf="event.tickets.length===0"
                style="font-size: 0.8em">Tickets aren't posted yet. Check back later</span>
        </p>
        <button mat-raised-button color="primary" [disabled]="event.tickets.length===0"
                [class.disable-button]="event.tickets.length===0" class="w-100 big-action-button"
                (click)="openTicketDialog()">Get Tickets
        </button>
      </div>
    </div>
  </div>
</div>
