@import "../webiste-app/webiste-app.component.css";

.ev_date_loc{
  color: #eeeeee;
  font-size: 0.9em;
}
.ev_desc{
  font-size: 0.9em;
}
.header-image{
  max-height: 350px;
  min-height: 350px;
}
.disable-button{
  background-color: #c4c4c4!important;
  color: black;
}
@media (min-width: 0px) {
  .header-image{
    max-height: 250px;
    min-height: 250px;  }
}
@media (min-width: 576px) {
  .header-image{
    max-height: 350px;
    min-height: 350px;  }
}
@media (min-width: 768px) {
  .header-image{
    max-height: 400px;
    min-height: 400px;  }
}
@media (min-width: 992px) {
  .header-image{
    max-height: 450px;
    min-height: 450px;
  }
}

