p{
  font-family: Lato, sans-serif;
  margin: 0 0 15px;
  color: #d5d5d5;
  font-size:   14px;
  line-height: 2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
li{
  color: #d5d5d5;
}
h4{
  margin-top: 75px;
}
h6{
  margin-top: 25px;
}
.about-hero{
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
}
.about-sub-hero{
  margin-bottom: 30px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  color: #c5c5c5;
}
@media screen and (min-width: 990px) {
  .about-sub-hero{
    font-size: calc(16px + 4 * ((100vw - 1500px) / 940));
  }
  .about-hero{
    font-size: calc(26px + 26 * ((100vw - 800px) / 640));
  }
}
