.mat-card-hover{

}
.mat-card-hover :hover{
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
::ng-deep .mat-card{
  background-color: #1c1e1f !important;
}
*{
  color: white;
}
.icon-sm{
  font-size: 13px!important;
  margin-right: 4px;
}
.icon-md{
  font-size: 22px!important;
  margin-right: 12px;
}
.icon-lg{
  font-size: 31px!important;
  margin-right: 18px;
}
.icon-xlg{
  font-size: 42px!important;
  margin-right: 25px;
}
.icon-container{
  display: flex;
  align-items: center;
}
