::placeholder {
  color: #b0b0b0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b0b0b0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b0b0b0;
}
::ng-deep .filter  {
  background: green;
}
::ng-deep .mat-input-element{
  color: #151818 !important;
}
::ng-deep .filter.mat-focused .mat-form-field-underline {
  display: none;
}

::ng-deep .filter input {
  caret-color: white;
}
.mat-icon{
  color: #656565;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #efefef;
  border-radius: 5px;
}
