<div class="px-lg-5 px-md-3 ">
  <div class="content-header mx-lg-3 my-4">
    <div class="d-flex mb-2 ">
      <h2>Account Password</h2>
    </div>
  </div>

  <form #loginGroup='ngForm' (ngSubmit)="loginGroup.valid  && resetPassword()" class="row wide-content">
    <div class="col-lg-7 col-md-12">
      <h4 class="mt-5">Forgot your password?</h4>
      <p style="font-size: 0.9em; color: #a8a8a8">
        That's okay! Click the button below to reset your password.
      </p>
        <div class="mt-5">
          <button mat-raised-button color="primary" class="big-action-button">Reset Password</button>
        </div>
    </div>

  </form>
</div>
