<div class="px-lg-5 px-md-3 ">
  <div class="content-header mx-lg-3 my-4">
    <div class="d-flex mb-2 ">
      <h2>Delete Account</h2>
    </div>
  </div>

  <form #loginGroup='ngForm' (ngSubmit)="loginGroup.valid  && closeAccount()" class="row wide-content">
    <div class="col-lg-7 col-md-12">
      <div >
        <mat-label class="top-label">Type: "DELETE ACCOUNT"</mat-label>
        <mat-form-field appearance="outline" class="w-100" >
          <input type="text" #password="ngModel" matInput required name="password"
                 [(ngModel)]="closeAccountConfirmation">>
        </mat-form-field>
      </div>
      <div >
        <mat-label class="top-label">Password</mat-label>
        <mat-form-field appearance="outline"  class="w-100">

          <input type="password" #password="ngModel" matInput required name="password"
                 [(ngModel)]="confirmPassword">
          <mat-hint
            *ngIf="(password.invalid && (password.dirty || password.touched)) && password.errors?.required">
            Password is required.
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <div class="mt-5">
          <button mat-raised-button color="warn" class="big-action-button">Close Account</button>
        </div>
      </div>
    </div>

  </form>
</div>
