<div class="overflow-hidden" style="background-color: #1b1d1e;color: white; max-width: 100%; width: 100vw; height: 100vh" class="row p-0 m-0">
  <div class="login-container col-md-6 col-sm-12 m-0 p-0  align-content-center d-flex">
    <div class="w-100 h-100 justify-content-md-center align-items-center d-flex">
      <div class="w-100 ">
        <div class=" justify-content-center d-flex">
          <img src="/assets/logo.png" style="max-width:50px; width: 100%; height: auto">
        </div>
        <div class=" justify-content-center d-flex " style="margin-bottom: 35px; margin-top: 20px">
          <h3 class="text-center fw-bold mb-5">STRALLOP EVENTS</h3>
        </div>
        <div class="w-100">
          <form #loginGroup='ngForm' class="row" (ngSubmit)="loginGroup.valid  && resetPassword()">
            <div class=" justify-content-center d-flex form-field-no-padding ">
              <div class="col-lg-8 col-md-9 col-sm-12 col-12">
                <h6 style="font-weight: 500; color: #d5d5d5" class="mb-3">Forgot Password?</h6>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-icon matPrefix style="margin-right: 12px; color: #b0b0b0">
                    email
                  </mat-icon>
                  <input matInput required name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="email"   placeholder="Email" style="color: white">
                </mat-form-field>
              </div>
            </div>
            <div class=" justify-content-center d-flex ">
              <div class="col-lg-8 col-md-9 col-sm-12 col-12 mw-100 mt-3">
                <button mat-raised-button class="w-100 big-action-button" style=" height: 40px" color="primary" type="submit">Reset Password
                </button>
              </div>
            </div>
            <div class=" justify-content-center d-flex ">
              <div class="col-lg-8 col-md-9 col-sm-12 col-12 mw-100">
                <div  class="justify-content-center d-flex mt-5 ">
                  <div class="w-100 d-flex justify-content-center"><a routerLink="login" class="px-3 text-white w-100 text-center">
                    <button mat-stroked-button style="background-color: #3b3b41" type="button" class="big-action-button">Login</button>
                  </a></div>
                  <div class="w-100 d-flex justify-content-center"><a routerLink="/signup" class="px-3 text-white w-100 text-center">
                    <button mat-stroked-button style="background-color: #3b3b41" type="button" class="big-action-button">Sign up</button>
                  </a></div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-0 p-0 m-0">
    <!--    <div style="background-color: #0202ae" class="w-100 h-100 align-content-center d-flex">-->
    <!--      <div class="align-self-center">-->
    <!--        <img src="assets/logo.png" class="w-100 h-auto p-5">-->
    <!--        <h1 class="text-center text-white mw-100 p-5">For all your event needs</h1>-->
    <!--      </div>-->

    <!--    </div>-->
    <img src="/assets/views/login_hero.jpg" class="w-100 h-100 mw-100 m-0 d-none d-md-block" style="max-height: 100vh; object-position: center; object-fit: cover" >
  </div>
</div>
