<div class="justify-content-center align-items-center d-flex mt-5 pt-5">
  <img src="../../../../assets/logo.png" style="width: 150px">
  <h2 class="h-100">Strallop Events</h2></div>
<h1 class="text-center mt-5" style="font-size: 6em!important;">503</h1>
<h2 class="text-center">Server Error</h2>
<h6 class="text-center" style="font-size: 1em">Server is under maintenance or offline</h6>
<div class="justify-content-center d-flex mt-5" style="height: 8%">
  <button mat-raised-button color="primary" routerLink="/" style="width: 18%; min-width: 150px"> Go to Homepage</button>
</div>
