<div style="width: 100vw; height: 100vh; color:white!important;background-color: #1b1d1e">
  <div class="d-flex justify-content-center pt-5" style="">
    <img src="/assets/logo.png" style="width: 75px">
  </div>
  <h2 class="text-center">Strallop Events</h2>
  <h1 class="text-center mt-5" style="font-size: 6em!important;">404</h1>
  <h2 class="text-center">Page Not Found</h2>
  <h6 class="text-center" style="font-size: 1em">The requested page does not exist or you do not have access to it</h6>
  <div class="justify-content-center d-flex mt-5" style="height: 8%">
    <button mat-raised-button color="primary" routerLink="/" style="width: 18%; min-width: 150px"> Go to Homepage
    </button>
  </div>

</div>
