<div class="base" >
  <div>
    <app-toolbar style="position:fixed;z-index: 1000;width: 100vw" [drawer]="drawer"></app-toolbar>
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav #drawer class="sidenav" fixedInViewport
                   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                   [mode]="(isHandset$ | async) ? 'over' : 'side'"
                   [opened]="(isHandset$ | async) === false"
                   style="margin-top: 67px; background-color: #1b1d1e; color: white">
        <mat-toolbar class="mat-elevation-z1 my-3 py-4" style="color: white; border-bottom-color: white">Account Settings</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="/settings/account-info"
             routerLinkActive="active-sidenav-link">
            <p routerLinkActive="active-sidenav-p">Account Info</p></a>
          <a mat-list-item routerLink="/settings/account-password"
             routerLinkActive="active-sidenav-link">
            <p routerLinkActive="active-sidenav-p">Password</p></a>
          <a mat-list-item routerLink="/settings/close-account"
             routerLinkActive="active-sidenav-link">
            <p routerLinkActive="active-sidenav-p">Close Account</p></a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content style="background-color:#323638; padding-top: 68px">
        <ng-content style="background-color:green;overflow:auto;height: 20px"></ng-content>
        <!-- Add Content Here -->
      </mat-sidenav-content>
    </mat-sidenav-container>


  </div>

</div>

