p{
  color: white!important;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  padding-left: 12px !important;
  font-size: 14px !important;
}
a{
  padding-bottom: 5px;
  padding-top: 5px;
}
.mat-drawer-container{
  color: white;
  background-color: #1b1d1e;
}
.mat-expansion-panel-header {
  background-color: #f8f7fa;
}
.mat-expansion-panel{
  background-color: #ffffff;
}
.mat-expansion-panel-header-title{
  background-color: transparent;
  color: #6f7287;
  font-size: 0.9em;
  font-weight: 500;
}
.sidenav-container {
  height: 100%;
}
.active-sidenav-link {
  background-color: #606377 !important;
}
.active-sidenav-p{
  color: white;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-sidenav-link{
  background-color: #424749;
}
