<app-toolbar></app-toolbar>
<div xmlns="http://www.w3.org/1999/html" class="container" style="color: white!important;">
  <div>
    <div style="height: 75vh">
      <div class="col-lg-6 h-100 d-flex align-items-center">
        <div>
          <h1 class="about-hero fw-bold">We are on a <br> Mission</h1>
          <div class="about-sub-hero">Everyone is different. We want to help our users explore the diverse communities
            and cultures of Ethiopia and
            provide the tools for organizers to cater to the expectations of their customers.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <h4 class="about-header">What we provide</h4>
        <h5 class="about-text">Strallop is the first event management and listing website based in Ethiopia. Our goal is
          to create the most streamlined, innovative and user friendly platform for both event organizers and
          participants.
        </h5>
        <h5 class="about-text">
          Our platform allows event organizers to collaborate and work together throughout the planning process up to the
          day of the event. We also provide insightful analytics during and after the event ends as per the organizers need.
        </h5>
        <h5 class="about-text">
          Users of our mobile app can be notified of events by specific organizers, topics of interest or events within a
          user specified time period. E-tickets issued on the app reduce the hassle at check-in and fast track the
          process.
        </h5>
        <h5 class="about-text">
          We aspire to lead the field of event management and organization in the ever growing field of digital
          technology in Ethiopia.
        </h5>
      </div>
    </div>
  </div>
</div>
