<div class="d-flex justify-content-center m-2 cursor-pointer" >
  <div class="container-c">
    <div class="image-holder">
      <img src="{{carouselItem.coverImage.length>0?carouselItem.coverImage: 'assets/views/event_image_placeholder.png'}}" class="w-100 h-100" style="border-radius: 5px; object-fit: cover">
    </div>
    <div style=" position: absolute;" class="local-content">
      <h5 class=" mb-1" style="color: white">{{carouselItem.name}}</h5>
      <h6 class=" mb-1" style="color: #dadcdd; font-size: 12px">Lafto Mall, next to bisrate gebriel church</h6>
      <h6 class=" mb-1" style="color: #dadcdd; font-size: 12px">Monday, April 5th</h6>
    </div>
  </div>
</div>
