.mat-card{
  cursor: pointer;
}
.image-holder {
  width: 500px;
  height: 45vh;
  position:relative;
  border-radius: 15px;
}
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
  transition: all .3s linear;
}
.container-c {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container-c img {vertical-align: middle;}

.local-content {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  padding-top: 25px;
  padding-left: 30px;
}
